.valit-logo {
	font-size: 30px !important;
	font-weight: bold;
	padding-right: 10px;
}

.navbar-item-valit {
	font-size: 20px !important;
	font-weight: lighter;
	display: block;
  	padding: 0 0 0 1.5rem;
	transition: color 0.20s ease-in-out
}

.large-thin-text {
	font-size: 30px;
	font-weight: lighter;
}

.large-normal-text {
    font-size: 20px !important;
    font-weight: lighter !important;
}
.large-bold-text {
    font-size: 28px !important;
    font-weight: bold !important;
}

.medium-text {
	font-size: 20px;
}

.statistic-header {
	font-weight: bold;
	font-size: 55px;
}

.statistic-title {
	font-size: 40px;
	font-weight: bold;
}

.statistic-subtext {
	font-weight: lighter;
	font-size: 30px;
}

.infographic-subtext {
	font-size: 20px;
	font-weight: 100;
}

.business-page-text {
	font-size: 45px;
	font-weight: normal;
}

.partner-text {
	font-size: 50px;
}

.partner-description {
	color: white;
	font-size: 20px;
	width: auto;
}
